body {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-clip: content-box;
  background-repeat: no-repeat;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 0.7fr 2fr;
  grid-template-areas:
    "logo"
    "photo"
    "texte";
}

.logo {
  grid-area: logo;
  align-self: center;
  margin-left: 10%;
}
.mobileImage {
  grid-area: photo;
  display: block;
}
.desktopImage {
  display: none;
}
.container {
  /* grid-area: texte; */
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  opacity: 0.7;
}
.were {
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  font-weight: 300;
  align-self: end;
  font-size: 4rem;
  color: hsla(0, 36%, 70%, 0.7);
}
.coming {
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}
p {
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
  text-align: center;
  font-size: 0.9rem;
  color: hsla(0, 36%, 70%, 0.7);
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 600;
  line-height: 1.5rem;
}
.form {
  grid-row-start: 4;
  grid-row-end: 5;
}
input::placeholder {
  font-size: 1rem;
  color: hsla(0, 36%, 70%, 0.7);
  font-family: "Josefin Sans", sans-serif;
}
input {
  width: 75%;
  justify-self: center;
  margin-left: 30px;
  position: relative;
  height: 40px;
  border-radius: 30px;
  border: 1px solid hsla(0, 36%, 70%, 0.7);
  padding-left: 5%;
}
.send {
  position: absolute;
  left: 250px;
  width: 3.9rem;
  height: 45px;
  border: none;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0px 5px 20px 5px hsl(0, 80%, 86%);
  color: #fff;
  font-weight: 300;
}

@media screen and (min-width: 376px) {
  body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 200px 500px;
  }
  .desktopImage {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: block;
  }
  .mobileImage {
    display: none;
  }
  .logo {
    align-self: center;
    padding-left: 10%;
  }
  .container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
    padding: 0% 20%;
  }
  .were {
    font-size: 4rem;
    color: hsl(0, 36%, 70%);
    font-weight: 200;
    justify-self: start;
    letter-spacing: 1.6rem;
  }
  .coming {
    font-weight: 600;
    justify-self: start;
    align-self: center;
    letter-spacing: 1.6rem;
    text-align: start;
  }
  p {
    text-align: left;
    justify-self: start;
    align-self: center;
    font-size: 1rem;
    margin-left: 0%;
    line-height: 1.8rem;
  }
  input {
    width: 80%;
    position: relative;
    margin-left: 0%;
    height: 45px;
  }
  .send {
    position: absolute;
    padding-bottom: 0.5%;
    left: 550px;
    padding-left: 1%;
    font-size: 1.7rem;
    width: 5rem;
    height: 50px;
  }
}
